
  body{
    background: linear-gradient(to right, #519aee, #a7d3f0);
    /* background-repeat: no-repeat;
    background-size: cover; */
    color: #000;
    
  }
  .navbar {
    background-color: #00408058;
    color: white;
    padding: 1rem 0;
  }

  .nav-container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
  }

  .logo {
    margin: 0;
  }

  nav a, .dropbtn {
    color: white;
    margin: 0 1rem;
    text-decoration: none;
    font-weight: 500;
  }

  nav {
    display: flex;
    align-items: center;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropbtn {
    background: none;
    border: none;
    cursor: pointer;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-content a {
    color: black;
    padding: 0.75rem 1rem;
    display: block;
    text-decoration: none;
  }

  .dropdown-content a:hover {
    background-color: #dddddd;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }













  .hero-content{
    font-size: 4rem;
    font-family:'Times New Roman', serif;
    text-align: center;
    line-height: .5rem;
  }

  .sub-heading{
    font-size: 3rem;
    font-family: serif;
    font-weight: lighter;
    font-style: italic;
    color: #313030;
    margin-bottom: 5rem;

  }

  .login{
    display: flex;
    justify-content: center;
    gap:2rem;
    
  }

.login-image{
    width:100%;
    max-width:300px;
    height: 80%; 
}


.login-content{
    display: flex;
    flex-direction: column;
    border-radius: 2rem;
    background-color: #fafafa;
    width: 20rem;
    height: 20rem;
    box-sizing: border-box;
    overflow: hidden;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.btn{
  border-radius:2rem; /*12rem; 12rem */
  text-align: center;
  padding: .5rem 1rem;
  margin: 0 auto;
}

.primary{
  background-color: #007bff;
  color: #fefdfd;
  transition: background-color .5s ease-in-out;
}

.btn.primary{
  text-decoration: none;
  display: inline-block;
}

.btn.primary:hover,.btn.primary:focus{
  background-color: #046fe1;
  transform: scale(1.05);
}

@media (max-width:1130px){
  .main-heading{
    font-size: 4rem;
  }
  .sub-heading{
    font-size: 2rem;
  }
}

@media (max-width:756px){
  .main-heading{
    font-size: 3rem;
  }
  .sub-heading{
    font-size: 2rem;
  }
  .login{
    display: flex;
    flex-direction: column;
    align-items: center;

}

@media (max-width:590px){
  .main-heading{
    font-size: 2rem;
  }
  .sub-heading{
    font-size: 1rem;
  }
  .nav-container{ 
    flex-direction: column;
  }
  .login{
    flex-direction: row;
  }
  .login-content{
    transform: scale(80%);
  }
}




